* {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

h1 {
    color: #545454;
    text-decoration: underline;
}

button {
    background-color: #4A9666;
    color: white;
    border: 2px solid #4A9666; 
    box-shadow: 10px 5px 15px #5454;
    margin: 30px;
    border-radius: 10px;
    padding: 3px 8px;
}

.flexWrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.footer {
    margin-top: auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 175%;
    margin: 10px;
    border: 2px solid #4A9666; 
    border-radius: 10px;
    padding: 3px 8px;
}

textarea {
    width: 175%;
    margin: 10px;
    height: 150px;
    border: 2px solid #4A9666; 
    border-radius: 10px;
    padding: 3px 8px;
}

.errorMsg {
    color: red;
    text-decoration: underline;
    font-size: small;
    margin-top: 0px;
}

.profileImg {
    width: 200px;
    border-radius: 30%;
    margin-top: 3%;
}

.aboutMeTitle {
    color: #545454;
    margin: 8px;
    align-self: center;
}

.profileDesc {
    width: 75%;
    border: 1px solid #4A9666;
    margin: 20px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.resumeImg {
    width: 600px;
    border: solid #545454 1px;
    border-radius: 10px;
    box-shadow: 10px 5px 15px #5454;
}

.project {
    width: 60%;
    height: 150px;
    margin: 30px;
}

.techBlogImg {
    background-image: url("./assets/images/projectImgs/techblog-screenshot.png");
    background-size: cover;

}